.container {
  max-width: 100%;
  padding: 20px;
}

.image-container {
  margin-bottom: 20px;
  border: 1px solid black; /* 이미지 주위에 얇은 검정색 선을 그림 */
}

.image {
  width: 100%;
  max-width: 200px;
  height: auto;
  cursor: pointer;
}

.image-text {
  display: none;
  margin-top: 10px;
}
